.open-button {
    padding: 0.5rem 1rem;
    margin: 1em auto;
    background-color: #8B80F9;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-button:hover {
    background-color: #6C63D1;
}

.inputs-container {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 1em auto;
}

.channel-input {
    margin: 0 1em;
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee2e6;
    outline: none;
    background-color: #f8f9fa;
    transition: border-color 0.3s ease;
}

.channel-input:focus {
    border-color: #8B80F9;
}

.others-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}